.image-exercise{
    display: flex;
    justify-items: left;
    align-items: baseline;
}

.exercise-container{
    display: flex;
    padding: 5%;
    justify-content: space-between;
}



.exercise-information {
    padding-top: 3%;
}

h3 {
    padding-top: 5%;
    font-weight: bolder;
}

.main-information{
    max-width: 850px;
    margin-left: auto;
    margin-right: auto;
    font-size: 1.2 rem;
}

.main-information-container{
    position: relative;
    overflow: auto;
}

.complete-train-button{
    width: 180px;
    height: 40px;
    float: right;
    display: inline;
    margin-top: 40px;
    margin-right: 10px;
    margin-right: 10px;
}

.complete-button-container{
    display: flex;
    justify-content: right;
    float: right;
}

