.main-information{
    text-align: left;
    font-family: sans-serif;
}

.user-date-container{
    margin-left: 0px;
}

.circle-icon {
    width: 110px; 
    height: 110px;
    background: #83A7C9;
    border-radius: 50%;
    background-image: url("./images/avatar.jpg");
    background-position:50% 50%;
    background-repeat:no-repeat;    
    background-size:cover
}

.rectangle-block{
    font-family: sans-serif;
    width: 400px;
    height: 55px;
    border-radius: 15px;
    background-color: #0077FF;
    color: white;
}

.logout-button{
    margin-left: 10px;
    font-family: sans-serif;
    font-size: 15px;
    width: 150px;
    height: 30px;
}

.new-login{
    margin-left: 10px;
    font-family: sans-serif;
    font-size: 15px;
    width: 150px;
    height: 30px;
}

.new-password{
    margin-left: 10px;
    font-family: sans-serif;
    font-size: 15px;
    width: 150px;
    height: 30px;
}

.push-new-login{
    margin-left: 10px;
    font-family: sans-serif;
    font-size: 15px;
    width: 150px;
    height: 30px;
}

.push-new-password{
    margin-left: 10px;
    font-family: sans-serif;
    font-size: 15px;
    width: 150px;
    height: 30px;
}
