*{
    margin:0;
    padding: 0;
    border: 0;  
}

body{
    background-color: #EDEEF0;
    margin: 0;
    position: relative;
}

.header{
    display: flex;
    align-items: center;
    /* justify-content: right; */
    width: 100%;
    background-color: #FFFFFF;
    height: 50px;
}

.navigation{
    display: flex;
    font-size: 18pt;
}

#circle {
    width: 40px;
    height: 40px;
    margin-left: 10px;
    -webkit-border-radius: 25px;
    -moz-border-radius: 25px;
    border-radius: 25px;
    background: #D9D9D9;
    float: left;
}

.logo{
    margin-top: 5px; 
    margin-left: 55px;
    color:#8A919B;
}

.main-menu{
    position: absolute;
    margin: 0;
    top: 10px; 
    right: 10px;
    gap: 1rem;
    display: flex;
    list-style: none;
    flex-direction: row;
}

.header a {
    font-family: 'Oswald', sans-serif;
    color: #8A919B;
    text-decoration: none; /* Убираем подчеркивание у ссылок */
}

.header a:visited {
    color: #8A919B;
} 

.header a:hover {
    color: #8A919B;
    text-decoration: underline;
}

.main-information-content{
    padding: 5px 5% 0% 5%;
}

.icon a:hover{
    text-decoration: none;
}

.main-information{
    margin: 5px 15% 0% 15%;
    border: 2px solid #DCE1E5; /* Параметры границы */
    border-radius: 18px;
    background: #FFFFFF; /* Цвет фона */
    padding: 10px; /* Поля вокруг текста */
    font-family: 'Inter';
    font-style: normal;
    font-weight: 600;
    font-size: 15px;
    line-height: 25px;

    color: #656C72;
    text-align: center;
}

.main-information-content{
    margin: 5px 15% 0% 15%;
    border: 4px double #467AAC; /* Параметры границы */
    background: #D9D9D9; /* Цвет фона */
    padding: 10px; /* Поля вокруг текста */
    font-family: 'Inter';
    font-style: normal;
    font-weight: 600;
    font-size: 15px;
    line-height: 25px;

    color: #000;
}

.subscription-content{
    font-family: 'Inter';
    font-style: normal;
    font-weight: 600;
    font-size: 15px;
    line-height: 25px;
    color: #380D0D;
}

.custom-card {
    float: left;
    margin-right: 22px;
    position: relative;
    width: 559px;
    height: 272px;
    background: url(images/view-card.png) no-repeat;
    font-size: 17px;
    font-size: 1.0625rem;
    line-height: 30px;
    line-height: 1.875rem;
}

.custom-card__payment-system-icons{
    padding-top: 20px;
}

.custom-icon {
    display: inline-block;
    vertical-align: middle;
}

.custom-icon_name_maestro {
    width: 33px;
    height: 26px;
    background: url(images/maestro.svg) no-repeat;
}

.custom-icon_name_mir {
    width: 33px;
    height: 26px;
    background: url(images/mir.svg) no-repeat;
}

.custom-icon_name_mastercard {
    width: 33px;
    height: 26px;
    background: url(images/mastercard.svg) no-repeat;
}

.custom-icon_name_visa {
    width: 33px;
    height: 26px;
    background: url(images/visa.png) no-repeat;
    background-size: 100%;
    background-position: center;
}

.custom-select__select {
    appearance: none;
    /*display: none;*/
}

.custom-select__button_theme_dark {
    width: 323px;
    border: 1px solid #414141;
    background: url(images/list.png) center right no-repeat #191919;
    font-size: 17px;
    font-size: 1.0625rem;
    letter-spacing: inherit;
}

.custom-select__button_theme_dark, .custom-select__dropdown-item_theme_dark {
    font-family: WarheliosCondC,Arial,Helvetica,sans-serif;
    height: 42px;
    line-height: 42px;
    line-height: 2.625rem;
    box-sizing: border-box;
    padding: 0 10px;
    cursor: pointer;
    color: #999;
    text-align: left;
}

.custom-control__label {
    display: block;
    margin-bottom: 6px;
}

.custom-card__payment-system-icon_name_mir {
    right: 150px;
}

.custom-card__payment-system-icon_name_maestro {
    right: 193px;
}

.custom-card__payment-system-icon_name_mastercard {
    right: 236px;
}

.custom-card__payment-system-icon_name_visa {
    right: 280px;
}

.custom-card__payment-system-icon {
    transition: opacity .3s ease-in-out,right .3s ease-in-out;
    position: absolute;
}

.custom-card__number {
    margin-left: 20px;
    padding-top: 10px;
    background-repeat: no-repeat;
    background-position: top center;
    color: #999;
    font-family: WarheliosCondC,Arial,Helvetica,sans-serif;
    font-size: 17px;
    font-size: 1.0625rem;
    letter-spacing: .43px;
}

.custom-card__date {
    margin-top: 40px;
    margin-left: 20px;
    padding-top: 10px;
    background-repeat: no-repeat;
    background-position: top center;
    color: #999;
    font-family: WarheliosCondC,Arial,Helvetica,sans-serif;
    font-size: 17px;
    font-size: 1.0625rem;
    letter-spacing: .43px;
    float: left;
}

.custom-control__label {
    display: block;
    margin-bottom: 6px;
}

.custom-control__control {
    box-sizing: border-box;
    height: 45px;
    width: 60px;
    background: #171717;
    border: 1px solid #454545;
    border-radius: 2px;
    color: #999;
    font-family: WarheliosCondC,Arial,Helvetica,sans-serif;
    font-size: 17px;
    font-size: 1.0625rem;
    line-height: 30px;
    line-height: 1.875rem;
    text-align: center;
    outline: none;
}

.custom-card__cvc {
    margin-top: 23px;
    color: #999;
    margin-left: 450px;
}

.main-information-content{
    height: 450px;
    min-width: 800px;
}

.Pay{
    float: right;
    width: 220px;
    height: 30px;
    margin-top: 80px;

    font-family: 'Inter';
    font-style: normal;
    font-size: 20px;
    color: white;
    background: #7A2977;
    border-radius: 5px;
}

.information-button{
    background: #641B70;
    float: right;
    margin-right: 8px;
    margin-top: 15px;
    height: 50px;
    width: 50px;
    color: #FFFFFF;
    border-radius: 50%;
    font-size: 30px;
}

.plus-button{
    background: #641B70;
    float: right;
    margin-right: 8px;
    margin-top: 15px;
    height: 50px;
    width: 50px;
    color: #FFFFFF;
    border-radius: 50%;
    font-size: 30px;
}

.pusk-button{
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 33px 0 33px 50px;
    border-color: #2780B1 #2780B1 #2780B1 #21C43B;

    margin-left: 37px;
    margin-top: 15px;
}

button{
    background-color: #7B2876;
}

button:hover {
    background: #180A8F;
}

button:active {
    background: #006CBE;
}

.mysor-button{
    height: 90px;
    width: 90px;
    margin-left: 15px;
    background-color: rgba(0, 0, 0, 0);
}

.mysor-button:hover{
    background-color: rgba(0, 0, 0, 0);
}

.mysor-button:active{
    background-color: rgba(0, 0, 0, 0);
}

.information-button {
    position: relative;
    display: inline-block;
    border-bottom: 1px dotted black;
}

.information-button .information-buttontext {
    visibility: hidden;
    position: absolute;
    width: 120px;
    background-color: #555;
    color: #fff;
    text-align: center;
    padding: 5px 0;
    border-radius: 6px;
    z-index: 1;
    opacity: 0;
    transition: opacity 0.3s;
    top: -5px;
    left: 125%;
}

.information-button .information-buttontext::after {
    content: "";
    position: absolute;
    margin-top: -5px;
    border-width: 5px;
    border-style: solid;
    border-color: transparent #555 transparent transparent;
}

.information-button:hover .information-buttontext {
    font-size: 12px;
    visibility: visible;
    opacity: 1;
}