*{
    margin:0;
    padding: 0;
    border: 0;
}

body{
    background-color: white;
    margin: 0;
    position: relative;
}

.header{
    display: flex;
    align-items: center;
    /* justify-content: right; */
    width: 100%;
    background-color: #FFFFFF;
    height: 50px;
    
    border-bottom: 2px solid #DCE1E5;
}

.navigation{
    display: flex;
    font-size: 18pt;
}

#circle {
    width: 40px;
    height: 40px;
    margin-left: 10px;
    -webkit-border-radius: 25px;
    -moz-border-radius: 25px;
    border-radius: 25px;
    background: #D9D9D9;
    float: left;
}

.logo{
    margin-top: 5px; 
    margin-left: 55px;
    color:#8A919B;
}

.main-menu{
    margin: 0;
    top: 10px; 
    right: 10px;
    gap: 1rem;
    display: flex;
    list-style: none;
    flex-direction: row;
    background-color: #FFFFFF;
}

.header a {
    font-family: 'Oswald', sans-serif;
    color: #8A919B;
    text-decoration: none; /* Убираем подчеркивание у ссылок */
}

.header a:visited {
    color: #8A919B;
} 

.header a:hover {
    color: #8A919B;
    text-decoration: underline;
}

.main-information-content{
    padding: 5px 5% 0% 5%;
}

.icon a:hover{
    text-decoration: none;
}

.main-information{
    margin: 5px 15% 0% 15%;
    border: 2px solid #DCE1E5; /* Параметры границы */
    border-radius: 18px;
    background: #EDEEF0; /* Цвет фона */
    padding: 10px; /* Поля вокруг текста */
    font-family: 'Inter';
    font-style: normal;
    font-weight: 600;
    font-size: 15px;
    line-height: 25px;

    color: #656C72;
    text-align: center;
}

.main-information-content{
    margin: 5px 15% 0% 15%;
    padding: 10px; /* Поля вокруг текста */
    font-family: sans-serif;
    font-style: normal;
    font-weight: 600;
    font-size: 15px;
    line-height: 25px;

    text-align: left;
}

button{
    background-color: #0077FF;
    color: white;
    border-radius: 5px;
}

button:hover {
    background: #180A8F;
}

button:active {
    background: #0077FF;
}
