.tasks {
    display: flex;
    flex-flow: row wrap;
    align-items: center;
    align-content: center;
    /*justify-content: space-between;*/
}

.main-information-tasks{
    font-family: sans-serif;
}

.block-task {
    position: relative;
    flex: 32% 0 1;
    margin-right: 1.325%;
    height: 300px;
    /*width: 32%; /* Можно задать любую другую ширину блока */
    background: #447bba;
    /*margin: .5rem; */
    border-radius: 10px;
    margin-top: 20px;
    color: #FFFFFF;
    float: left;
}

.task-image{
    float: left;
    margin-top: 10px; /* если сделать паддинг, то будет угар*/
    margin-left: 10px;
    width: 65%;
    height: 65%;
    border-radius: 10px;
}

.description-task{
    margin-top: 250px;
    text-align: center;
    color: white;
    font-family: sans-serif;
    font-weight: bold;
    font-style: normal;
    font-size: 20px;
}

.plus-button{
    
    background: lightskyblue;
    float: right;
    margin-right: 15px;
    margin-top: 15px;
    height: 50px;
    width: 50px;
    color: #FFFFFF;
    border-radius: 50%;
    font-size: 30px;
}

.information-button{
    background: lightskyblue;
    float: right;
    margin-right: 15px;
    margin-top: 15px;
    height: 50px;
    width: 50px;
    color: #FFFFFF;
    border-radius: 50%;
    font-size: 30px;
}

.information-button .information-buttontext {
    z-index: 150;
    visibility: hidden;
    position: absolute;
    width: 120px;
    background-color: #555;
    color: #fff;
    text-align: center;
    padding: 5px 0;
    border-radius: 6px;
    opacity: 0;
    transition: opacity 0.3s;
    top: -5px;
    left: 125%;
}

.information-button .information-buttontext::after {
    content: "";
    position: absolute;
    margin-top: -5px;
    border-width: 5px;
    border-style: solid;
    border-color: transparent #555 transparent transparent;
}

.information-button:hover .information-buttontext {
    font-size: 12px;
    visibility: visible;
    opacity: 1;
}

.information-button {
    position: relative;
    display: inline-block;
    border-bottom: 1px dotted black;
}