.tasks {
    display: flex;
    flex-flow: row wrap;
    align-items: center;
    align-content: center;
    /*justify-content: space-between;*/
}

.block-task {
    flex: 32% 0 1;
    margin-right: 1.325%;
    height: 300px;
    /*width: 32%; /* Можно задать любую другую ширину блока */
    background: #2780B1;
    /*margin: .5rem; */
    border-radius: 10px;
    margin-top: 20px;
    color: #FFFFFF;
    float: left;
}

.task-image{
    float: left;
    margin-top: 25px; /* если сделать паддинг, то будет угар*/
    margin-left: 25px;
    width: 65%;
    height: 65%;
    border-radius: 30px;
}

.description-task{
    margin-top: 250px;
    text-align: center;
    color: white;
    font-family: 'Inter';
    font-style: normal;
    font-size: 20px;
}