.main-information{
    min-width: 850px;
    max-width: 850px;
}

.block-train {
    flex: 48% 0 1;
    height: 300px;
    width: 48%; /* Можно задать любую другую ширину блока */
    background: #0077FF;
    /*margin: .5rem; */
    border-radius: 10px;
    margin-top: 20px;
    color: #FFFFFF;
}

.trains {
    font-family: sans-serif;
    display: flex;
    flex-flow: row wrap;
    align-items: center;
    align-content: center;
    justify-content: space-between;
}

.description-train{
    font-family: sans-serif;
    margin-top: 70px;
    text-align: center;
    color: white;
    font-family: 'Inter';
    font-style: normal;
    font-size: 20px;
}

.make-train{
    height: 100%;
    font-size: 25px;
    text-align: center;
    margin-top: 30%;
}

.block-train a {
    font-family: 'Oswald', sans-serif;
    color: #8A919B;
    text-decoration: none; /* Убираем подчеркивание у ссылок */
}

.block-train a:visited {
    color: #8A919B;
} 

.block-train a:hover {
    color: #8A919B;
    text-decoration: underline;
}

.pusk-button{
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 33px 0 33px 50px;
    border-color: #2780B1 #2780B1 #2780B1 #21C43B;

    margin-left: 37px;
    margin-top: 15px;
}

.mysor-button{
    height: 90px;
    width: 90px;
    margin-left: 15px;
    background-color: rgba(0, 0, 0, 0);
}

.mysor-button:hover{
    background-color: rgba(0, 0, 0, 0);
}

.mysor-button:active{
    background-color: rgba(0, 0, 0, 0);
}
